form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;

  border: 1px solid;
  border-radius: 7px;
}

.btn {
  margin-top: 10px;
  /* width: 100px; */
  height: 20px;

  border: 1px solid;
  border-radius: 10px;
}

.errorText {
  color: red;
}
